In [1]:
import os
os.getcwd()

'C:\\Users\\pc\\Desktop\\remote intership 2020\\python codes'

In [2]:
os.chdir("C:\\Users\\pc\\Desktop\\remote intership 2020\\data sets")

In [3]:
os.getcwd()

'C:\\Users\\pc\\Desktop\\remote intership 2020\\data sets'

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [5]:
data=pd.read_csv('T1.csv')

In [6]:
data

,Date/Time,LV ActivePower (kW),Wind Speed (m/s),Theoretical_Power_Curve (KWh),Wind Direction (°)
0,01 01 2018 00:00,380.047791,5.311336,416.328908,259.994904
1,01 01 2018 00:10,453.769196,5.672167,519.917511,268.641113
2,01 01 2018 00:20,306.376587,5.216037,390.900016,272.564789
3,01 01 2018 00:30,419.645905,5.659674,516.127569,271.258087
4,01 01 2018 00:40,380.650696,5.577941,491.702972,265.674286
...,...,...,...,...,...
50525,31 12 2018 23:10,2963.980957,11.404030,3397.190793,80.502724
50526,31 12 2018 23:20,1684.353027,7.332648,1173.055771,84.062599
50527,31 12 2018 23:30,2201.106934,8.435358,1788.284755,84.742500
50528,31 12 2018 23:40,2515.694092,9.421366,2418.382503,84.297913
50529,31 12 2018 23:50,2820.466064,9.979332,2779.184096,82.274620

In [7]:
data.isnull().any()

Date/Time                        False
LV ActivePower (kW)              False
Wind Speed (m/s)                 False
Theoretical_Power_Curve (KWh)    False
Wind Direction (°)               False
dtype: bool

In [8]:
#if you have any null values in the given set we can replace that misssing value
data.fillna(data.mean(),inplace=True)

In [9]:
data.isnull().any()

Date/Time                        False
LV ActivePower (kW)              False
Wind Speed (m/s)                 False
Theoretical_Power_Curve (KWh)    False
Wind Direction (°)               False
dtype: bool

In [10]:
#we can replace missing values by individual columns
data['Wind Speed (m/s)'].fillna(data['Wind Speed (m/s)'].mean(),inplace=True)

In [11]:
data.isnull().any()

Date/Time                        False
LV ActivePower (kW)              False
Wind Speed (m/s)                 False
Theoretical_Power_Curve (KWh)    False
Wind Direction (°)               False
dtype: bool

In [12]:
from sklearn.preprocessing import LabelEncoder
y = LabelEncoder()
#this is used to convert string into numerical values,&the assinged based on alphabetical order
data['LV ActivePower (kW)'] = y.fit_transform(data['LV ActivePower (kW)'])

In [13]:
data

,Date/Time,LV ActivePower (kW),Wind Speed (m/s),Theoretical_Power_Curve (KWh),Wind Direction (°)
0,01 01 2018 00:00,8323,5.311336,416.328908,259.994904
1,01 01 2018 00:10,9544,5.672167,519.917511,268.641113
2,01 01 2018 00:20,7088,5.216037,390.900016,272.564789
3,01 01 2018 00:30,9012,5.659674,516.127569,271.258087
4,01 01 2018 00:40,8339,5.577941,491.702972,265.674286
...,...,...,...,...,...
50525,31 12 2018 23:10,30103,11.404030,3397.190793,80.502724
50526,31 12 2018 23:20,22011,7.332648,1173.055771,84.062599
50527,31 12 2018 23:30,25364,8.435358,1788.284755,84.742500
50528,31 12 2018 23:40,27285,9.421366,2418.382503,84.297913
50529,31 12 2018 23:50,29245,9.979332,2779.184096,82.274620

In [14]:
data['Wind Speed (m/s)'] = y.fit_transform(data['Wind Speed (m/s)'])

In [15]:
data

,Date/Time,LV ActivePower (kW),Wind Speed (m/s),Theoretical_Power_Curve (KWh),Wind Direction (°)
0,01 01 2018 00:00,8323,16826,416.328908,259.994904
1,01 01 2018 00:10,9544,18338,519.917511,268.641113
2,01 01 2018 00:20,7088,16500,390.900016,272.564789
3,01 01 2018 00:30,9012,18286,516.127569,271.258087
4,01 01 2018 00:40,8339,17964,491.702972,265.674286
...,...,...,...,...,...
50525,31 12 2018 23:10,30103,41131,3397.190793,80.502724
50526,31 12 2018 23:20,22011,26280,1173.055771,84.062599
50527,31 12 2018 23:30,25364,31230,1788.284755,84.742500
50528,31 12 2018 23:40,27285,34908,2418.382503,84.297913
50529,31 12 2018 23:50,29245,36796,2779.184096,82.274620

In [16]:
x =data.iloc[:,0:3].values

In [17]:
x

array([['01 01 2018 00:00', 8323, 16826],
       ['01 01 2018 00:10', 9544, 18338],
       ['01 01 2018 00:20', 7088, 16500],
       ...,
       ['31 12 2018 23:30', 25364, 31230],
       ['31 12 2018 23:40', 27285, 34908],
       ['31 12 2018 23:50', 29245, 36796]], dtype=object)

In [18]:
z = data.iloc[0:3, 0:2].values

In [19]:
z

array([['01 01 2018 00:00', 8323],
       ['01 01 2018 00:10', 9544],
       ['01 01 2018 00:20', 7088]], dtype=object)

In [20]:
y=data.iloc[:,3].values

In [21]:
y

array([ 416.32890782,  519.91751106,  390.90001581, ..., 1788.28475526,
       2418.38250336, 2779.18409628])

In [23]:
a= data.iloc[0:7].values

In [24]:
a

array([['01 01 2018 00:00', 8323, 16826, 416.328907824861,
        259.994903564453],
       ['01 01 2018 00:10', 9544, 18338, 519.917511061494,
        268.64111328125],
       ['01 01 2018 00:20', 7088, 16500, 390.900015810951,
        272.564788818359],
       ['01 01 2018 00:30', 9012, 18286, 516.127568975674,
        271.258087158203],
       ['01 01 2018 00:40', 8339, 17964, 491.702971953588,
        265.674285888671],
       ['01 01 2018 00:50', 8723, 18056, 499.436385024805,
        264.57861328125],
       ['01 01 2018 01:00', 9453, 18897, 557.3723632902249,
        266.163604736328]], dtype=object)